body {
    font-family: 'Tinos', serif;
    text-align: center;
    margin: 20px;
    background-color: #DC143C;
    
}

h1 {
    color: #00008B;
    font-size: 2.5em;
    margin-bottom: 10px; 
}

h3 {
    color: #FFFFFF;
    font-size: 1.5em;
    margin-bottom: 30px; 
}

.image-row {
    display: flex;
    justify-content: center; 
    flex-wrap: nowrap; 
    margin: 0 auto; 
}

.image-group {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.landmark-img {
    width: 200px; 
    height: 150px; 
    margin: 10px;
    border: 4px solid #00008B; 
    cursor: pointer;
    transition: opacity 0.3s; 
}

.caption {
    margin: 5px 0;
    font-size: 1.1em;
    color: #00008B;
    height: 20px; 
    overflow: hidden; 
}

#guess-line {
    margin: 40px 0; 
    font-size: 1.2em;
    color: #FFFFFF;
}

#answer {
    margin-top: 20px;
    font-size: 1.2em;
    color: #FFFFFF;
}

#answer img {
    vertical-align: middle;
    margin-right: 10px;
    width: 180px; 
    border: 4px solid #00008B
}